@import url("https://fonts.googleapis.com/css?family=Leckerli+One");
body {
  overflow-x: hidden;
  background: rgba(223, 230, 244, 0.2); }

main {
  width: 100%;
  height: 100vh; }

.avatar {
  border-radius: 50%;
  overflow: hidden; }

.p-bt {
  padding: 120px 0 100px; }

.section-title {
  margin-bottom: 20px; }
  .section-title h2 {
    font-weight: bold;
    font-size: 36px; }

* {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.logo-font {
  font-family: "Leckerli One", cursive !important; }

.bg-actions {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
  opacity: 0.75;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300000;
  display: none; }

.bg-magic {
  background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%); }

.flex-uses {
  display: flex;
  align-items: center; }

.tag {
  font-weight: bold; }

.hashtag {
  font-weight: bold;
  color: #5fedb6; }

.btn-auth {
  background: #5fedb6;
  color: #5b6775;
  font-weight: bold; }

.btn-facebook {
  background: #3B5998;
  color: white;
  font-size: 18px; }

.btn-action {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 12.5px 40px;
  border-radius: 6px;
  font-size: 19px;
  font-weight: bold;
  color: #5b6775;
  cursor: pointer; }

.btn-action:hover {
  text-decoration: none;
  color: #5b6775;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); }

.btn-action-colored {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 12.5px 40px;
  border-radius: 6px;
  font-size: 19px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer; }

.btn-action-colored:hover {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(135deg, #475fca 0%, #764ba2 100%); }

#link-novalid {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90000000000000000; }
  #link-novalid div {
    text-align: center; }
    #link-novalid div h1 {
      color: white;
      font-size: 200px !important;
      display: block;
      margin: 0;
      padding: 0; }
    #link-novalid div p {
      font-size: 32px;
      font-weight: lighter;
      color: white;
      margin: 0; }
    #link-novalid div .btn-action {
      margin-top: 5px;
      display: inline-block; }

/*
///////////////////////////////////////
	MENU
//////////////////////////////////////
*/
.menu {
  background: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: none; }
  .menu .menu-logo {
    margin-bottom: 25px; }
    .menu .menu-logo span {
      color: #5b6775;
      font-size: 48px;
      font-weight: bold; }
  .menu .menu-items span.divider {
    background: #485360;
    height: 2px;
    display: block;
    margin: 10px 0; }
  .menu .menu-items ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .menu .menu-items ul li:hover a, .menu .menu-items ul li:hover i {
      color: #5fedb6; }
    .menu .menu-items ul li {
      padding: 10px 0;
      display: flex;
      align-items: center; }
      .menu .menu-items ul li i {
        color: #5b6775;
        font-size: 28px;
        width: 30px; }
      .menu .menu-items ul li a {
        color: #5b6775;
        font-size: 19px;
        font-weight: bold;
        margin-left: 10px; }
      .menu .menu-items ul li a:hover {
        text-decoration: none; }
      .menu .menu-items ul li a:focus {
        text-decoration: none; }

/*
///////////////////////////////////////
	MENU
//////////////////////////////////////
*/
.menu-fly {
  background: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0; }
  .menu-fly .menu-logo {
    margin-bottom: 25px; }
    .menu-fly .menu-logo span {
      color: #5b6775;
      font-size: 48px;
      font-weight: bold; }
  .menu-fly .menu-items span.divider {
    background: #485360;
    height: 2px;
    display: block;
    margin: 10px 0; }
  .menu-fly .menu-items ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .menu-fly .menu-items ul li:hover a, .menu-fly .menu-items ul li:hover i {
      color: #5fedb6; }
    .menu-fly .menu-items ul li {
      padding: 10px 0;
      display: flex;
      align-items: center; }
      .menu-fly .menu-items ul li i {
        color: #5b6775;
        font-size: 28px;
        width: 30px; }
      .menu-fly .menu-items ul li a {
        color: #5b6775;
        font-size: 19px;
        font-weight: bold;
        margin-left: 10px; }
      .menu-fly .menu-items ul li a:hover {
        text-decoration: none; }
      .menu-fly .menu-items ul li a:focus {
        text-decoration: none; }

/*
///////////////////////////////////////
	PROFILE
//////////////////////////////////////
*/
/*
///////////////////////////////////////
	MENU
//////////////////////////////////////
*/
.menu {
  background: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu .menu-logo {
    margin-bottom: 25px; }
    .menu .menu-logo span {
      color: #5b6775;
      font-size: 48px;
      font-weight: bold; }
  .menu .menu-items span.divider {
    background: #485360;
    height: 2px;
    display: block;
    margin: 10px 0; }
  .menu .menu-items ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .menu .menu-items ul li:hover a, .menu .menu-items ul li:hover i {
      color: #5fedb6; }
    .menu .menu-items ul li {
      padding: 10px 0;
      display: flex;
      align-items: center; }
      .menu .menu-items ul li i {
        color: #5b6775;
        font-size: 28px;
        width: 30px; }
      .menu .menu-items ul li a {
        color: #5b6775;
        font-size: 19px;
        font-weight: bold;
        margin-left: 10px; }
      .menu .menu-items ul li a:hover {
        text-decoration: none; }
      .menu .menu-items ul li a:focus {
        text-decoration: none; }

/*
///////////////////////////////////////
	PROFILE
//////////////////////////////////////
*/
.profile {
  background: url(http://68.media.tumblr.com/d30666c2b15d952d15313ec2904a0752/tumblr_ngjgisRbe61sh3sfao1_1280.jpg);
  background-size: cover;
  background-position: center; }
  .profile .profile-tint {
    height: 100vh;
    background: green;
    display: flex;
    align-items: flex-end;
    height: 100vh;
    padding: 25px 50px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+26,ffffff+100&0+26,1+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 26%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 26%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 26%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    /* IE6-9 */ }
  .profile .u-info {
    color: #5b6775; }
    .profile .u-info .u-name h1 {
      font-size: 54px;
      font-weight: bold;
      margin: 0;
      padding: 0; }
    .profile .u-info .u-username span {
      font-size: 24px;
      font-weight: bold; }
    .profile .u-info .u-numbers {
      margin: 2.5px 0; }
      .profile .u-info .u-numbers ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex; }
        .profile .u-info .u-numbers ul li {
          text-align: center;
          margin-right: 16px; }
          .profile .u-info .u-numbers ul li span.u-numbers-number {
            font-weight: bold;
            font-size: 16px; }
          .profile .u-info .u-numbers ul li span.u-numbers-title {
            font-weight: bold;
            font-size: 16px; }
    .profile .u-info .u-bio p {
      font-size: 100;
      font-size: 16px;
      font-weight: lighter; }
    .profile .u-info .u-follow {
      margin: 10px 0; }
      .profile .u-info .u-follow a.btn {
        display: inline-block; }
      .profile .u-info .u-follow a.btn-follow {
        padding: 10px 50px;
        border-radius: 50px;
        color: #5b6775;
        background: #5fedb6;
        font-size: 18px;
        font-weight: bold; }
      .profile .u-info .u-follow a.btn-follow:hover {
        background: #5b6775;
        color: white; }

/*
///////////////////////////////////////
	ACTIVITY
//////////////////////////////////////
*/
.activity::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px transparent;
  border-radius: 0px;
  background-color: transparent; }

.activity::-webkit-scrollbar {
  width: 0;
  background-color: transparent; }

.activity::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0px transparent;
  background-color: transparent; }

.activity {
  height: 100vh;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll; }
  .activity .activity-container {
    width: 100%; }
  .activity .panel {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 20px;
    margin-bottom: 25px;
    width: 90%;
    background: white; }
    .activity .panel .panel-title h4 {
      font-weight: bold;
      font-size: 21px; }
    .activity .panel .hashtag-list {
      list-style: none;
      margin: 0;
      padding: 0; }
      .activity .panel .hashtag-list li a {
        text-decoration: none;
        font-size: 17px;
        font-weight: lighter;
        color: #5b6775; }
    .activity .panel .activity-list {
      list-style: none;
      margin: 0;
      padding: 0; }
      .activity .panel .activity-list .activity-list-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px; }
        .activity .panel .activity-list .activity-list-item .activity-list-item-pp {
          margin-right: 10px; }
          .activity .panel .activity-list .activity-list-item .activity-list-item-pp img {
            width: 45px;
            height: 45px; }
          .activity .panel .activity-list .activity-list-item .activity-list-item-pp .avatar {
            border: 2px solid #5fedb6; }
        .activity .panel .activity-list .activity-list-item .activity-list-item-info span {
          font-weight: bold;
          font-size: 18px; }
        .activity .panel .activity-list .activity-list-item .activity-list-item-info p {
          font-size: 14px;
          margin: 0;
          padding: 0;
          position: relative;
          top: -5px; }

/*
///////////////////////////////////////
	POST
//////////////////////////////////////
*/
.post-form {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  width: 450px;
  height: 50vh;
  background: white;
  z-index: 500000000;
  display: none;
  box-sizing: border-box;
  padding: 40px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 6px; }
  .post-form form {
    width: 100%;
    padding: 0; }
    .post-form form input[type="text"] {
      width: 100% !important;
      outline: none;
      border: 2px solid #5fedb6;
      border-radius: 6px;
      height: 55px;
      background: transparent;
      box-sizing: border-box;
      color: #5b6775;
      font-size: 18px;
      font-weight: lighter;
      padding-left: 20px; }
    .post-form form input[type="text"]::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #5b6775; }
    .post-form form input[type="text"]::-moz-placeholder {
      /* Firefox 19+ */
      color: #5b6775; }
    .post-form form input[type="text"]:-ms-input-placeholder {
      /* IE 10+ */
      color: #5b6775; }
    .post-form form input[type="text"]:-moz-placeholder {
      /* Firefox 18- */
      color: #5b6775; }
    .post-form form .post-form-caption {
      width: 100%;
      height: 65px; }
    .post-form form .post-form-submit {
      padding-right: 20px; }
    .post-form form .post-form-submit button {
      outline: none;
      border: none;
      height: 45px;
      width: 120px;
      background: #5fedb6;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: white;
      font-size: 18px;
      font-weight: bold; }
    .post-form form .post-form-submit:hover button {
      background: #5fedb6; }
      .post-form form .post-form-submit:hover button i {
        color: white; }

.post {
  max-width: 550px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 25px;
  overflow: hidden; }
  .post .post-img {
    background-size: cover !important;
    background-position: center !important;
    height: 500px; }
  .post .post-content {
    padding: 20px;
    background: white; }
    .post .post-content .post-content-top {
      display: flex;
      align-items: center; }
      .post .post-content .post-content-top .post-content-pp img {
        width: 65px;
        height: 65px; }
      .post .post-content .post-content-top .post-content-name-time {
        margin-left: 10px; }
        .post .post-content .post-content-top .post-content-name-time span {
          font-size: 26px;
          font-weight: bold; }
        .post .post-content .post-content-top .post-content-name-time small {
          font-size: 14px;
          font-weight: bold;
          position: relative;
          top: -10px; }
    .post .post-content .post-content-time {
      margin-top: -10px; }
      .post .post-content .post-content-time span {
        font-size: 14px;
        font-weight: bold;
        color: #5b6775; }
    .post .post-content .post-content-actions {
      margin-top: 7px;
      height: auto;
      overflow: hidden; }
      .post .post-content .post-content-actions ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center; }
        .post .post-content .post-content-actions ul li {
          margin-right: 10px; }
          .post .post-content .post-content-actions ul li i {
            font-size: 28px;
            color: #e7ecf4;
            cursor: pointer; }
          .post .post-content .post-content-actions ul li i.like-active {
            color: #5fedb6; }
    .post .post-content .post-content-caption {
      margin: 5px 0;
      height: auto;
      overflow: hidden; }
      .post .post-content .post-content-caption p {
        font-size: 16px;
        font-weight: lighter; }
    .post .post-content .post-content-comment-box {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 15px;
      height: auto;
      overflow: hidden;
      display: flex;
      justify-content: space-between; }
      .post .post-content .post-content-comment-box input[type="text"] {
        width: 425px;
        height: 45px;
        padding-left: 10px;
        box-sizing: border-box;
        border-radius: 6px;
        border: 1px solid #e7ecf4;
        outline: none; }
      .post .post-content .post-content-comment-box button {
        background: #5fedb6;
        font-weight: bold; }
    .post .post-content .post-content-comments .post-content-comment-item {
      margin: 10px 5px; }
      .post .post-content .post-content-comments .post-content-comment-item .post-content-comment-item-user {
        display: flex;
        align-items: center; }
        .post .post-content .post-content-comments .post-content-comment-item .post-content-comment-item-user img {
          width: 35px;
          height: 35px;
          margin-right: 5px; }
        .post .post-content .post-content-comments .post-content-comment-item .post-content-comment-item-user span {
          font-weight: bold;
          color: #5b6775;
          display: block;
          font-size: 18px; }
        .post .post-content .post-content-comments .post-content-comment-item .post-content-comment-item-user small {
          padding-left: 5px;
          padding-top: 4px;
          font-size: 14px;
          color: #e7ecf4; }
      .post .post-content .post-content-comments .post-content-comment-item .post-content-comment-item-caption p {
        font-weight: lighter; }

.cta-post:hover a {
  background: #5b6775; }

.cta-post {
  position: fixed;
  bottom: 35px;
  right: 75px;
  cursor: pointer;
  display: none; }
  .cta-post a {
    background: #5fedb6;
    width: 75px;
    height: 75px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer; }
    .cta-post a i {
      color: white;
      font-size: 34px; }

/*
///////////////////////////////////////
	FEED
//////////////////////////////////////
*/
.feed {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  overflow-y: scroll; }

.c-top {
  margin-top: 125px; }

/*
///////////////////////////////////////
	SEARCH
//////////////////////////////////////
*/
.search-container {
  padding: 25px 50px; }
  .search-container input[type="text"] {
    width: 100%;
    height: 65px;
    padding-left: 55px;
    box-sizing: border-box;
    background: white;
    outline: none;
    font-size: 24px;
    font-weight: bold;
    border-radius: 6px;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative; }
  .search-container i {
    position: absolute;
    top: 40px;
    left: 65px;
    color: #5fedb6;
    font-size: 32px; }

/*
///////////////////////////////////////
	AUTH
//////////////////////////////////////
*/
.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.box-auth {
  width: 500px;
  height: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 6px; }

/*
///////////////////////////////////////
	HEADER MENU
//////////////////////////////////////
*/
header {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 10px 20px 0 #dfe6f4; }
  header .logo h1 {
    color: #5b6775; }
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; }
    header nav ul .header-user {
      padding-left: 50px; }
      header nav ul .header-user img {
        width: 45px;
        height: 45px;
        margin-right: 5px; }
    header nav ul li {
      display: flex;
      align-items: center;
      padding-right: 10px; }
      header nav ul li a i:hover {
        text-decoration: none;
        color: #5fedb6; }
      header nav ul li a:hover {
        text-decoration: none;
        color: #5fedb6; }
      header nav ul li a {
        color: #5b6775;
        font-size: 19px;
        font-weight: lighter; }
        header nav ul li a i {
          font-weight: normal !important;
          padding-right: 3px;
          font-size: 34px !important;
          color: #5b6775; }

.headerUser {
  display: none; }

.headerNoUser {
  display: none; }

header.header-profile {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: none; }
  header.header-profile .logo h1 {
    color: white; }
  header.header-profile nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; }
    header.header-profile nav ul .header-user {
      padding-left: 50px; }
      header.header-profile nav ul .header-user img {
        width: 45px;
        height: 45px;
        margin-right: 5px; }
    header.header-profile nav ul li {
      display: flex;
      align-items: center;
      padding-right: 10px; }
      header.header-profile nav ul li a i:hover {
        text-decoration: none;
        color: #5fedb6; }
      header.header-profile nav ul li a:hover {
        text-decoration: none;
        color: #5fedb6; }
      header.header-profile nav ul li a {
        color: white;
        font-size: 19px;
        font-weight: lighter; }
        header.header-profile nav ul li a i {
          font-weight: normal !important;
          padding-right: 3px;
          font-size: 34px !important;
          color: white; }

/*
///////////////////////////////////////
	LOADER
//////////////////////////////////////
*/
.loader-global {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900000000000;
  display: none; }

.spinner {
  animation: rotator 1.4s linear infinite; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@keyframes colors {
  0% {
    stroke: #4285F4; }
  25% {
    stroke: #DE3E35; }
  50% {
    stroke: #F7C223; }
  75% {
    stroke: #1B9A59; }
  100% {
    stroke: #4285F4; } }
@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }
.file-upload:hover i {
  color: #5fedb6; }

.file-upload {
  height: 65px;
  width: 65px;
  position: relative;
  background: #485360;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  cursor: pointer; }
  .file-upload i {
    font-size: 38px !important; }
  .file-upload input[type='file'] {
    height: 65px;
    width: 65px; }

/*
///////////////////////////////////////
  PROFILE
//////////////////////////////////////
*/
#profileContainer {
  display: none; }

.c-top-profile {
  margin-top: 0px; }

.profile-top {
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  background-position: center !important; }
  .profile-top .profile-top-info {
    width: 100%;
    height: 100vh; }
  .profile-top .profile-top-bg {
    width: 100%;
    background: -moz-linear-gradient(top, transparent 35%, rgba(0, 0, 0, 0.01) 36%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 35%, rgba(0, 0, 0, 0.01) 36%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 35%, rgba(0, 0, 0, 0.01) 36%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    /* IE6-9 */
    padding: 50px 35px;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    color: white; }
    .profile-top .profile-top-bg .profile-top-info-pp img {
      width: 100px;
      height: 100px; }
    .profile-top .profile-top-bg .profile-top-info-name-bio {
      margin-left: 20px; }
      .profile-top .profile-top-bg .profile-top-info-name-bio h2 {
        font-size: 42px;
        font-weight: lighter;
        display: block;
        margin: 0;
        padding: 0; }
      .profile-top .profile-top-bg .profile-top-info-name-bio p {
        margin: 0;
        padding: 0;
        font-size: 19px;
        font-weight: lighter; }
    .profile-top .profile-top-bg .profile-top-numbers ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
      .profile-top .profile-top-bg .profile-top-numbers ul li {
        padding-right: 25px;
        text-align: center; }
        .profile-top .profile-top-bg .profile-top-numbers ul li h6 {
          font-size: 24px;
          font-weight: lighter;
          display: block; }
        .profile-top .profile-top-bg .profile-top-numbers ul li span {
          font-size: 18px;
          font-weight: lighter; }
    .profile-top .profile-top-bg .profile-top-cta {
      margin: 10px 0 30px; }
      .profile-top .profile-top-bg .profile-top-cta a {
        color: white;
        background: #5fedb6;
        border-radius: 10px;
        padding: 10px 45px;
        font-size: 19px;
        font-weight: bold; }

/*
///////////////////////////////////////
  SETTINGS
//////////////////////////////////////
*/
.settings {
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 0px transparent;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #f3f5f9; }
  .settings .settings-pp {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 10px 0;
    text-align: center; }
    .settings .settings-pp img {
      width: 100px;
      height: 100px;
      margin: 0px auto 10px;
      display: block; }
  .settings .settings-item {
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
    margin: 10px 0; }
    .settings .settings-item label {
      color: white; }
    .settings .settings-item input[type="text"] {
      width: 90%;
      margin: 0 auto;
      border: 2px solid white;
      border-radius: 50px;
      height: 50px;
      outline: none;
      padding-left: 16px;
      box-sizing: border-box; }
  .settings .form-group i {
    color: #5fedb6;
    font-size: 32px;
    padding-right: 5px; }
  .settings .form-group label {
    font-weight: bold; }
  .settings .form-group input, .settings .form-group textarea {
    border: 2px solid #e7ecf4 !important; }

/*# sourceMappingURL=main.css.map */
